---
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
BasedOnStyle: Webkit
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 80
IndentPPDirectives: BeforeHash
NamespaceIndentation: None
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Right
SortIncludes: false
