---
BasedOnStyle: Webkit
IndentPPDirectives: BeforeHash
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: InlineOnly
BreakBeforeBinaryOperators: NonAssignment
AlignAfterOpenBracket: AlwaysBreak
SortIncludes: false
PointerAlignment: Right
AlwaysBreakAfterReturnType: None
PenaltyReturnTypeOnItsOwnLine: 1000
