*.cache.json
TR1X.dll
TR1X.exe
TR1X.log
TR2X.dll
TR2X.exe
TR2X.log

# Docker builds garbage
/build
/.secrets
/.local
/workflow
/TR1X*.zip
/TR1X*.exe
/TR2X*.zip
/TR2X*.exe
__pycache__/

# VS garbage
v15/
v16/
*.suo
*.o
*.obj
*.pdb
*.lib
*.exp
Debug/
Release/
*.user
*.ipch
.vs/
*.vcxproj
*.filters
.dotnet/

# MacOS garbage
.DS_Store

# libtrx artefacts
**/subprojects/packagecache/
**/subprojects/dwarfstack-*/

tools/installer/TRX_Installer/Resources/release.zip

# JetBrains CLion IDE garbage
.idea/