Tomb1Main_runtime.json5
Tomb1Main.dll
Tomb1Main.exe
Tomb1Main.log

# Docker builds garbage
/build
/.secrets
/workflow
/Tomb1Main*.zip

# VS garbage
v15/
v16/
*.def
*.suo
*.o
*.obj
*.pdb
*.lib
*.exp
Debug/
Release/
*.user
*.ipch
.vs/
*.sln
*.vcxproj
*.filters
