1 VERSIONINFO
FILEVERSION     0,0,0,0
PRODUCTVERSION  0,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "rr-"
      VALUE "FileDescription", "Tomb Raider 1 / TombATI enhancing library"
      VALUE "FileVersion", "{version}"
      VALUE "InternalName", "Tomb1Main"
      VALUE "OriginalFilename", "Tomb1Main.dll"
      VALUE "ProductName", "Tomb1Main"
      VALUE "ProductVersion", "{version}"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
